{% block extra_head %}
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>Chat Index</title>
{% endblock extra_head %}

{% block content %}
<h2>Chat657</h2>
<h3>Rooms</h3>
    <ul>
        {% for room in rooms %}
            <li>
                <strong><a href="{% url 'room' room.slug %}">{{ room.name }}</a></strong>
                <br>
                <small>
                    Role: {% if room.owner == user %}Owner{% else %}Participant{% endif %} | 
                    Created: {{ room.created_at|date:"Y-m-d" }}
                </small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascript %}
{% endblock javascript %}

