{% extends "base.html" %}
{% block extra_head %}
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat657/base.css' %}" >
    <title>Chat room</title>
{% endblock extra_head %}
{% block content %}
<div class="chat657">
    <div id="chat-room">
        <h2><a href="{% url 'chat657:chat' %}">Rooms</a> - {{ room_name }} - <a href="{% url 'chat657:private' room_slug %}">Private chat</a> - <a href="{% url 'chat657:video' room_slug %}">Video</a></h2>
        <div>
            <strong>Logged in as:</strong> <span id="current-user">{{ user.username }}</span>
        </div>
        <div>
            <strong>In the chat:</strong><ul id="chat-users"></ul>
        </div>
        <div>
            <textarea id="chat-log" rows="10" readonly style="max-width: 100%; width: 35em;"></textarea><br>
            <input id="chat-message-input" type="text" size="50" style="max-width: 100%;"><br>
            <button id="chat-message-submit">Send</button>
        </div>
    </div>
</div>
<script>
    const roomName = "{{ room_slug }}";
</script>
<script src="{% static 'js/chat657/base.js' %}" async=""></script>
{% endblock content %}